# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env
.env.*

# Ignore virtual environments
venv/
ENV/
env/

# Ignore Flask instance folder (if used)
instance/

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
